{% extends "base.html" %} {% load static %} {% block page_content %}
<h2>{{ recipe.title }}</h2>
<div class="row">
  <div class="col-md-8">
    <img src="{% static 'img/recipe.image' %}" alt="" width="100%" />
  </div>
  <div class="col-md-4" >
    <p>{{ recipe.description }}</p>
    <strong>Recipe</strong>
    <p>{{ recipe.number_of_portions }} portions.</p>
    <h3>Ingredients</h3>
    {{ recipe.quantity }}{{ recipe.ingredients|linebreaks }}
    <h3>Preparation</h3>
    {{ recipe.preparation|linebreaks }}
    <p>Preparation time: {{ recipe.time_for_preparation }}</p>
  </div>
</div>

{% endblock page_content %}
