{% extends "base.html" %} {% load static %} {% block page_content %}
<h2 class="text-center">{{ recipe.title }}</h2>
<div class="row">
  <div class="col-md-8">
    <img src="{% static 'img/recipe.image' %}" alt="" width="100%" />
  </div>
  <div class="col-md-4" >
    <p>{{ recipe.description }}</p>
    <h2>Recipe</h2>
    <p>Portions: {{ recipe.number_of_portions }}</p>
    <h3>Ingredients</h3>
    <p>{{ recipe.quantity_integer }}<sup>{{ recipe.quantity_fraction.numerator }}</sup>&frasl;<sub>{{ recipe.quantity_fraction.denominator }}</sub> {{ recipe.ingredients }}</p>
    <h3>Preparation</h3>
    {{ recipe.preparation|linebreaks }}
    <p>Preparation time: {{ recipe.time_for_preparation }}</p>
  </div>
</div>

{% endblock page_content %}
